/* STYLE_GIGI.css - temporary styles file for collaboration */


/* Category pages */
#categoryPage h4.page-title.category, #inFocus h1.page-title {
    margin: .75em 0 .15em;
    border-bottom: solid 1px #ffa500;
}

#categoryPage .summary, #inFocus p.intro {
    font-style: italic;
    font-size: .85em;
    color: #999;
    margin-top: 0px;
    line-height: 1.5;
    margin-bottom: 30px;
}


/* Social menu: hide on screens under 700px on homepage + on article pages */
#menu-social, #postDetail div#menu-social {
    display: none;
}

/* Share icons: add "share" on articles with headlines over images */
.single.post-cover-overlay-post-title #socialPost ul:before {
    content: "SHARE";
    color: #999;
    font-family: 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/* Media queries */

@media (min-width: 700px) {
	.post-excerpts.paged .first-post h1.entry-title {
	    font-size: 1.6em;
	}

	#categoryPage .summary, #inFocus p.intro {
		font-size: .95em;
	}

	#menu-social {
    display: block;
}
}





